<a href="https://colab.research.google.com/github/Javaled/Desafio01_AluraStore/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importaci√≥n de datos

In [130]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

In [131]:
total_tienda = sum(float(precio) for precio in tienda['Precio'])
total_tienda2 = sum(float(precio) for precio in tienda2['Precio'])
total_tienda3 = sum(float(precio) for precio in tienda3['Precio'])
total_tienda4 = sum(float(precio) for precio in tienda4['Precio'])

totales_tienda = [total_tienda, total_tienda2, total_tienda3, total_tienda4]

i = 1
for total in totales_tienda:
    print(f'Total de ventas en tienda {i}: ${total:,.2f}')
    i += 1

Total de ventas en tienda 1: $1,150,880,400.00
Total de ventas en tienda 2: $1,116,343,500.00
Total de ventas en tienda 3: $1,098,019,600.00
Total de ventas en tienda 4: $1,038,375,700.00

# 2. Ventas por categor√≠a

In [132]:
def contar_ventas_por_categoria(df):
    ventas_por_categoria = {}

    for i in range(len(df)):
        categoria = df['Categor√≠a del Producto'][i]

        if categoria in ventas_por_categoria:
            ventas_por_categoria[categoria] += 1
        else:
            ventas_por_categoria[categoria] = 1

    return ventas_por_categoria

#Tienda 1
ventas_por_categoria_tienda = contar_ventas_por_categoria(tienda)

#Tienda 2
ventas_por_categoria_tienda2 = contar_ventas_por_categoria(tienda2)

#Tienda 3
ventas_por_categoria_tienda3 = contar_ventas_por_categoria(tienda3)

#Tienda 4
ventas_por_categoria_tienda4 = contar_ventas_por_categoria(tienda4)

totales_venta_por_categoria = [ventas_por_categoria_tienda, ventas_por_categoria_tienda2, ventas_por_categoria_tienda3, ventas_por_categoria_tienda4]

i = 1
for total in totales_venta_por_categoria:
    print(f'\nüõí Total de ventas por categor√≠a en tienda {i}:')
    for categoria, monto in total.items():
        print(f'  - {categoria}: {monto}')
    i += 1

üõí Total de ventas por categor√≠a en tienda 1:
  - Electr√≥nicos: 448
  - Muebles: 465
  - Juguetes: 324
  - Electrodom√©sticos: 312
  - Art√≠culos para el hogar: 171
  - Deportes y diversi√≥n: 284
  - Libros: 173
  - Instrumentos musicales: 182

üõí Total de ventas por categor√≠a en tienda 2:
  - Muebles: 442
  - Instrumentos musicales: 224
  - Deportes y diversi√≥n: 275
  - Electr√≥nicos: 422
  - Art√≠culos para el hogar: 181
  - Juguetes: 313
  - Electrodom√©sticos: 305
  - Libros: 197

üõí Total de ventas por categor√≠a en tienda 3:
  - Electrodom√©sticos: 278
  - Muebles: 499
  - Instrumentos musicales: 177
  - Deportes y diversi√≥n: 277
  - Electr√≥nicos: 451
  - Juguetes: 315
  - Art√≠culos para el hogar: 177
  - Libros: 185

üõí Total de ventas por categor√≠a en tienda 4:
  - Electrodom√©sticos: 254
  - Muebles: 480
  - Deportes y diversi√≥n: 277
  - Libros: 187
  - Electr√≥nicos: 451
  - Instrumentos musicales: 170
  - Juguetes: 338
  - Art√≠culos para el hogar: 201

# 3. Calificaci√≥n promedio de la tienda

In [135]:
def calcular_calificacion_media(store):
    total = sum(float(calificacion) for calificacion in store['Calificaci√≥n'])
    promedio = total / len(store['Calificaci√≥n'])
    return round(promedio, 2)

calcular_calificacion_tienda1 = calcular_calificacion_media(tienda)
calcular_calificacion_tienda2 = calcular_calificacion_media(tienda2)
calcular_calificacion_tienda3 = calcular_calificacion_media(tienda3)
calcular_calificacion_tienda4 = calcular_calificacion_media(tienda4)

totales_calificacion = [calcular_calificacion_tienda1, calcular_calificacion_tienda2, calcular_calificacion_tienda3, calcular_calificacion_tienda4]

i = 1
for total in totales_calificacion:
    print('Calificaci√≥n promedio en tienda', i, ':', total)
    i += 1

Calificaci√≥n promedio en tienda 1 : 3.98
Calificaci√≥n promedio en tienda 2 : 4.04
Calificaci√≥n promedio en tienda 3 : 4.05
Calificaci√≥n promedio en tienda 4 : 4.0

# 4. Productos m√°s y menos vendidos

---

In [137]:
def producto_mas_menos_vendido(df):
    conteo_productos = {}

    # Contamos cu√°ntas veces aparece cada producto en la tienda
    for producto in df['Producto']:
        if producto in conteo_productos:
            conteo_productos[producto] += 1
        else:
            conteo_productos[producto] = 1

    # Encontramos el producto m√°s vendido (m√°s veces aparece)
    mas_vendido = max(conteo_productos, key=conteo_productos.get)
    menos_vendido = min(conteo_productos, key=conteo_productos.get)

    return mas_vendido, conteo_productos[mas_vendido], menos_vendido, conteo_productos[menos_vendido]

tiendas = [tienda, tienda2, tienda3, tienda4]  # Lista con todas las tiendas
nombres_tienda = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']  # Nombres de las tiendas
# Funci√≥n para imprimir el resultado por cada tienda
def mostrar_resultados_por_tienda():


    for i, tienda in enumerate(tiendas):
        mas, ventas_mas, menos, ventas_menos = producto_mas_menos_vendido(tienda)
        print(f'\nüìä {nombres_tienda[i]}:')
        print(f'  üìà Producto m√°s vendido: {mas} ({ventas_mas} ventas)')
        print(f'  üìâ Producto menos vendido: {menos} ({ventas_menos} ventas)')

# Llamar a la funci√≥n para mostrar los resultados
mostrar_resultados_por_tienda()

üìä Tienda 1:
  üìà Producto m√°s vendido: Microondas (60 ventas)
  üìâ Producto menos vendido: Auriculares con micr√≥fono (33 ventas)

üìä Tienda 2:
  üìà Producto m√°s vendido: Iniciando en programaci√≥n (65 ventas)
  üìâ Producto menos vendido: Juego de mesa (32 ventas)

üìä Tienda 3:
  üìà Producto m√°s vendido: Kit de bancas (57 ventas)
  üìâ Producto menos vendido: Bloques de construcci√≥n (35 ventas)

üìä Tienda 4:
  üìà Producto m√°s vendido: Cama box (62 ventas)
  üìâ Producto menos vendido: Guitarra el√©ctrica (33 ventas)

# 5. Env√≠o promedio por tienda